body{
    margin: 0 auto;
    z-index: 50;
    /* padding-top: 3%; */
}


.wrapper{
    /* background: #2d2d30; */
    color: #bdbdbd;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.info{
    padding: 5% 20% 5% 20%;
}

.carousel img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

.carousel-indicators li{
    border-radius: 50%;
    width: 12px !important;
    height: 12px !important;
}
  

/* Nav bar stuff */
.flex-nav{
    position: sticky;
   
    top: 0;
    z-index: 100;
    font-size: 8px; /*change later */
    margin: 0;
    padding: 0;
    color: #bdbdbd;
}

.flex-nav-navbar{
    position: absolute;
    width: 100%;
}

.flex-nav ul{
    background-color: rgba(45, 45, 48, 0.9);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.flex-nav li{
    padding: 1em;
}

.flex-nav li:hover{
    color: white;
    /* background-color: rgba(19, 19, 19, 0.9); */
}

.flex-nav .dropdown-menu{
    top: 7px !important;
    left: 13px !important;
    width: 60%;
}

.flex-nav .dropdown-toggle{
    color: #bdbdbd;
}

.flex-nav .dropdown-toggle:hover{
    color: whitesmoke;
    text-decoration: none;
}

.logo{
    margin-right: auto;
    margin-left: 1rem;
}

/* The Band */
.band-container{
    background-color: whitesmoke;
    text-align: center;
}

.band-container .img-thumbnail{
    padding: 0;
}

/* Tour Dates */
.tour-container{
    background-color: #2d2d30;
}

.tour-list-group{
    text-align: left;
}

.tour-list .paris{
    padding-left: 0;
}

.tour-list .sanfran{
    padding-right: 0;
}

.card{
    color: #2d2d30;
    font-size: 50%;
    max-height: auto;
    max-width: auto;
}


/* Contact */
.contact-container{
    background-color: whitesmoke;
    text-align: center;
}

.contact-container h3{
    color: #2d2d30;
}

.contact-container .name{
    padding-left: 0;
}

.contact-container .email{
    padding-right: 0;
}

.contact-container button{
    margin-left: auto;
}

.contact-container .left{
    font-size: 50%;
    text-align: left;
}

.contact-container input{
    background-color: whitesmoke;
}
.contact-container textarea{
    background-color: whitesmoke;
}

.contact-container a{
    color: #bdbdbd;
}

.contact-container .nav-tabs .nav-link.active{
    background-color: whitesmoke;
}

.contact-container .nav-link:hover{
    background-color: #bdbdbd;
    color: #2d2d30;
}



/* Map */
.map{
    background-image: url("/media/map.jpg");
}


/* Footer */
.footer-container{
    padding: 1rem;
    background-color: #2d2d30;
    color: #bdbdbd;
}


